.nav {
    .flexin();
    li{
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    nav a {
        font-size: 25px;
        margin: auto 20px;
        text-decoration: none;
        color: black;
        &:hover {
            color: gray;
          }
      }
  }